* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    top: 10px;
    display: flex;
    padding-left: 200px;
}

nav {
    padding-left: 175px;
    position: relative;
    display: flex;
    align-items: center;
    top: -9px;
    gap: 38px;
    height: 89px;
    overflow: hidden;
}

nav>a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

nav>a:hover {
    border-bottom: 3px solid black;
}

#div3 {
    height: 10px;
    display: flex;
    align-items: center;
    padding-left: 35px;
}

#div3>button {
    color: white;
    background-color: black;
    width: 158px;
    height: 40px;
    border-radius: 30px 30px 5px 30px;
    padding: 1px 6px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

section {
    display: flex;
    position: relative;
    padding: 67px 0 20px 0;
    justify-content: space-around;
    background-color: #F7FAFF;
    padding-left: 80px;

}

#left {
    padding-left: 2px;
    h1 {
        line-height: 67px;
        font-size: 48px;
        color: #333333;
    }

    p {
        line-height: 47px;
        font-size: 24px;
        color: #747B88;
    }

    .input-field {
        position: relative;
        width: 574px;
    }

    .icon-inside {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        font-size: 24px;
        z-index: 2;
    }

    #input1 {
        height: 72px;
        width: 574px;
        border-radius: 10px;
        padding: 10px 30px 10px 60px;
        font-size: 18px;
        border-color: gray;
        box-sizing: border-box;
        /* border: none; */
    }

    #input2 {
        height: 72px;
        width: 574px;
        padding: 10px 30px 10px 60px;
        font-size: 18px;
        border-radius: 10px;
        border-color: #D5D6D9;
        box-sizing: border-box;
    }

    button {
        height: 80px;
        width: 574px;
        border-radius: 7px;
        background-color: #FFCA20;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }

}

#right {
    position: relative;
    top: 71px;
}

#ourservices {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* position: relative; */

}


#os>h1 {
    color: #333333;
    font-size: 48px;

}

#img {
    /* display: flex; */
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}

#border,
#border3 {
    border-bottom: 5px solid #FFCA20;
    width: 130px;
}

#heading3>h1 {
    color: black;
    font-size: 48px;
}

#border2,
#border4 {
    border-bottom: 5px solid #FFCA20;
    width: 130px;
}

#wwo {
    background-color: #F8F8F8;

}


#cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#card1>p {
    text-align: justify;
    width: 330px;
}

#card2>p {
    text-align: justify;
    width: 330px;
}

#card3>p {
    text-align: justify;
    width: 330px;
}

#ewr {
    background-color: #1E4B82;
}

#rs {
    height: 449;
    width: 250;
}

#rs>h1 {
    font-size: 48px;
    color: white;
}

#rs>h2 {
    color: white;
    font-size: 32px;
    width: 500px;
}

#rs>button {
    background-color: #FFCA20;
    border-radius: 30px;
    color: black;
    height: 62px;
    width: 270px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
}

#dn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

#border4 {
    position: relative;
    left: 0px;
}

#dn>h1 {
    position: relative;

}

#dni {
    display: flex;
    gap: 80px;
}

footer {
    width: 100%;
    height: 370;
    background-color: black;
    color: white;
    padding: 40px 0px;
    box-sizing: border-box;
}

#footer {
    display: flex;
    gap: 80px;
    padding-left: 100px;
}

.link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#navlink {
    display: flex;
    flex-direction: column;
    align-items: left;

}

#navlink>a,
#f4>a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.cust {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cust>img {
    background-size: cover;
}